<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
<system.webServer>
  <security>
   <requestFiltering>
    <hiddenSegments>
<clear />
                    <add segment="web.config" />
                    <add segment="bin" />
                    <add segment="App_code" />
                    <add segment="App_GlobalResources" />
                    <add segment="App_LocalResources" />
                    <add segment="App_WebReferences" />
                    <add segment="App_Browsers" />

    </hiddenSegments>
   </requestFiltering>
  </security>
 </system.webServer>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="Forms">
      <forms defaultUrl="~/Home.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>

  
</system.web>
</configuration>